# 📌 Environments & Secrets
venv/
.venv/
env/

.env
.idea/
.vscode/

# 📦 Dependencies
node_modules/
client/dist/
client/build/
server/uploads/

# 🧠 AI & Machine Learning
ml-services/rag-service/models/
ml-services/vision-engine/*.jpg
ml-services/vision-engine/*.jpeg
ml-services/vision-engine/*.png
# Allowing the ENTIRE runs directory as requested
!ml-services/vision-engine/runs/
!runs/
!best.pt
!yolov8n.pt
__pycache__/
*.pyc
*.pyo
*.pyd
!ml-services/vision-engine/runs/
*.zip
*.tar
*.gz

# 🔍 System Junk
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
error.txt
